<div class="editor-container">
  <svg #svg id="svg" width="100%" height="100%">
<!--         <g id="selectorGroup0" transform="" display="inline">
            <path id="selectedBox0" fill="none" stroke="#22C" stroke-dasharray="5,5" style="pointer-events:none" d="M29,184 L138,184 138,243 29,243z"></path>
            <g display="inline">
                <circle id="selectorGrip_resize_nw" fill="#22C" r="4" style="cursor:nw-resize" stroke-width="2"
                  pointer-events="all" cx="29" cy="184"></circle>
                <circle id="selectorGrip_resize_n" fill="#22C" r="4" style="cursor:n-resize" stroke-width="2" pointer-events="all"
                  cx="83.5" cy="184"></circle>
                <circle id="selectorGrip_resize_ne" fill="#22C" r="4" style="cursor:ne-resize" stroke-width="2"
                  pointer-events="all" cx="138" cy="184"></circle>
                <circle id="selectorGrip_resize_e" fill="#22C" r="4" style="cursor:e-resize" stroke-width="2" pointer-events="all"
                  cx="138" cy="213.5"></circle>
                <circle id="selectorGrip_resize_se" fill="#22C" r="4" style="cursor:se-resize" stroke-width="2"
                  pointer-events="all" cx="138" cy="243"></circle>
                <circle id="selectorGrip_resize_s" fill="#22C" r="4" style="cursor:s-resize" stroke-width="2" pointer-events="all"
                  cx="83.5" cy="243"></circle>
                <circle id="selectorGrip_resize_sw" fill="#22C" r="4" style="cursor:sw-resize" stroke-width="2"
                  pointer-events="all" cx="29" cy="243"></circle>
                <circle id="selectorGrip_resize_w" fill="#22C" r="4" style="cursor:w-resize" stroke-width="2" pointer-events="all"
                  cx="29" cy="213.5"></circle>
                <line id="selectorGrip_rotateconnector" stroke="#22C" x1="83.5" y1="184" x2="83.5" y2="164"></line>
                <circle id="selectorGrip_rotate" fill="lime" r="4" stroke="#22C" stroke-width="2" style="cursor:url(images/rotate.png) 12 12, auto;"
                  cx="83.5" cy="164"></circle>
              </g>
        </g> -->
    <!-- <g id="selectorParentGroup" transform="translate(640,480)">
      <rect id="selectorRubberBand" fill="#22C" fill-opacity="0.15" stroke="#22C" stroke-width="0.5" display="none"
        style="pointer-events:none" x="404.5" y="160.5" width="0" height="0"></rect>
      <g id="selectorGroup0" transform="" display="inline">
        <path id="selectedBox0" fill="none" stroke="#22C" stroke-dasharray="5,5" style="pointer-events:none" d="M29,184 L138,184 138,243 29,243z"></path>
        <g display="inline">
          <circle id="selectorGrip_resize_nw" fill="#22C" r="4" style="cursor:nw-resize" stroke-width="2"
            pointer-events="all" cx="29" cy="184"></circle>
          <circle id="selectorGrip_resize_n" fill="#22C" r="4" style="cursor:n-resize" stroke-width="2" pointer-events="all"
            cx="83.5" cy="184"></circle>
          <circle id="selectorGrip_resize_ne" fill="#22C" r="4" style="cursor:ne-resize" stroke-width="2"
            pointer-events="all" cx="138" cy="184"></circle>
          <circle id="selectorGrip_resize_e" fill="#22C" r="4" style="cursor:e-resize" stroke-width="2" pointer-events="all"
            cx="138" cy="213.5"></circle>
          <circle id="selectorGrip_resize_se" fill="#22C" r="4" style="cursor:se-resize" stroke-width="2"
            pointer-events="all" cx="138" cy="243"></circle>
          <circle id="selectorGrip_resize_s" fill="#22C" r="4" style="cursor:s-resize" stroke-width="2" pointer-events="all"
            cx="83.5" cy="243"></circle>
          <circle id="selectorGrip_resize_sw" fill="#22C" r="4" style="cursor:sw-resize" stroke-width="2"
            pointer-events="all" cx="29" cy="243"></circle>
          <circle id="selectorGrip_resize_w" fill="#22C" r="4" style="cursor:w-resize" stroke-width="2" pointer-events="all"
            cx="29" cy="213.5"></circle>
          <line id="selectorGrip_rotateconnector" stroke="#22C" x1="83.5" y1="184" x2="83.5" y2="164"></line>
          <circle id="selectorGrip_rotate" fill="lime" r="4" stroke="#22C" stroke-width="2" style="cursor:url(images/rotate.png) 12 12, auto;"
            cx="83.5" cy="164"></circle>
        </g>
      </g>
      <g id="selectorGroup1" transform="" display="none">
        <path id="selectedBox1" fill="none" stroke="#22C" stroke-dasharray="5,5" style="pointer-events:none" d="M272,75 L347,75 347,156 272,156z"></path>
      </g>
    </g> -->
  </svg>
</div>
