<nav class="navbar navbar-expand-lg navbar-light bg-light header">
  <a class="navbar-brand editor-title">{{editorTitle}}</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"
          (click)="selectTool('RECTANGLE')">
        <a class="nav-link">
          <span class="far fa-square"
                [ngClass]="{'active-tool': isSelectedTool('RECTANGLE'), 'disabled-tool': isDisabled('RECTANGLE')}"></span>
        </a>
      </li>
      <li class="nav-item"
          (click)="selectTool('ELLIPSE')">
        <a class="nav-link">
          <span class="far fa-circle"
          [ngClass]="{'active-tool': isSelectedTool('ELLIPSE'), 'disabled-tool': isDisabled('ELLIPSE')}"
          ></span>
        </a>
      </li>
      <li class="nav-item"
          (click)="selectTool('SELECT')">
        <a class="nav-link">
          <span class="fas fa-location-arrow"
          [ngClass]="{'active-tool': isSelectedTool('SELECT'), 'disabled-tool': isDisabled('SELECT')}"></span>
        </a>
      </li>
      <li class="nav-item"
          (click)="selectTool('textEdit')">
        <a class="nav-link">
          <span class="fas fa-font"
          [ngClass]="{'active-tool': isSelectedTool('textEdit'), 'disabled-tool': isDisabled('textEdit')}"></span>
        </a>
      </li>
      <li class="nav-item"
          (click)="selectTool('fileUpload')">
        <a class="nav-link">
          <span class="fas fa-file-upload"
          [ngClass]="{'active-tool': isSelectedTool('fileUpload'), 'disabled-tool': isDisabled('fileUpload')}"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>