.header {
    display: flex;
    height: 2.5em;
    border-bottom: solid 1px #eee;
    padding: 0.4em;
}
.editor-title {
    padding-right: 1rem;
    align-self: center;
    font-size: 1.2em;
}
.header-collapse {
    display: flex;
    place-items: center;
    margin-left: 1em;
}
.navigation-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}
.navigation-item.disabled {
    color: #777;
}
.navigation-item:not(.disabled):hover > a {
    color: var(--active-link);
}
.navigation-link {
    padding: 0.3em;
}
.active-tool {
    color: var(--active-link);
}
.passive-tool {
    color: black;
}