<nav class="header">
  <img src="favicon.ico">
  <a class="editor-title">{{editorTitle}}</a>
  <div class="vertical-separation"></div>
  <div class="header-collapse" id="navbarNavDropdown">
    <!-- Structure of Navigation is bound to change strongly. Hence, no for loop is needed ultil then -->
    <ul class="navigation-list">
      <li class="navigation-item"
          [ngClass]="{'disabled': getToolConfig('RECTANGLE').disabled}"
          (click)="selectTool('RECTANGLE')">
        <a class="navigation-link" 
          [tooltip]="getTooltipConfig('RECTANGLE').text" 
          [tooltipPlacement]="getTooltipConfig('RECTANGLE').position" 
          [tooltipDelay]="getTooltipConfig('RECTANGLE').delay">
          <span class="far fa-square"
                [ngClass]="{'active-tool': isSelectedTool('RECTANGLE')}"></span>
        </a>
      </li>
      <li class="navigation-item"
          [ngClass]="{'disabled': getToolConfig('ELLIPSE').disabled}"
          (click)="selectTool('ELLIPSE')">
        <a class="navigation-link" 
          [tooltip]="getTooltipConfig('ELLIPSE').text" 
          [tooltipPlacement]="getTooltipConfig('ELLIPSE').position" 
          [tooltipDelay]="getTooltipConfig('ELLIPSE').delay">
          <span class="far fa-circle"
          [ngClass]="{'active-tool': isSelectedTool('ELLIPSE')}"
          ></span>
        </a>
      </li>
      <li class="navigation-item"
          [ngClass]="{'disabled': getToolConfig('SELECT').disabled}"
          (click)="selectTool('SELECT')">
        <a class="navigation-link"
          [tooltip]="getTooltipConfig('SELECT').text" 
          [tooltipPlacement]="getTooltipConfig('SELECT').position" 
          [tooltipDelay]="getTooltipConfig('SELECT').delay">
          <span class="fas fa-location-arrow"
          [ngClass]="{'active-tool': isSelectedTool('SELECT')}"></span>
        </a>
      </li>
      <li class="navigation-item"
          [ngClass]="{'disabled': getToolConfig('TEXTBOX').disabled}"
          (click)="selectTool('TEXTBOX')">
        <a class="navigation-link"
          [tooltip]="getTooltipConfig('TEXTBOX').text" 
          [tooltipPlacement]="getTooltipConfig('TEXTBOX').position" 
          [tooltipDelay]="getTooltipConfig('TEXTBOX').delay">
          <span class="fas fa-font"
          [ngClass]="{'active-tool': isSelectedTool('TEXTBOX')}"></span>
        </a>
      </li>
      <li class="navigation-item"
          [ngClass]="{'disabled': getToolConfig('FILE_UPLOAD').disabled}"
          (click)="selectTool('FILE_UPLOAD')">
        <a class="navigation-link"
          [tooltip]="getTooltipConfig('FILE_UPLOAD').text" 
          [tooltipPlacement]="getTooltipConfig('FILE_UPLOAD').position" 
          [tooltipDelay]="getTooltipConfig('FILE_UPLOAD').delay">
          <span class="fas fa-file-upload"
          [ngClass]="{'active-tool': isSelectedTool('FILE_UPLOAD')}"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>